h1{
    color:black
}
.product-box{
    border:2px solid black;
    padding: 15px;
    margin:10px;
    width:300px;
    border:2px solid gray;
    border-radius: 8px;
    background-color: white;
}
h2{
    color:black;
    font-size: 20px;}
p{
    color:red;
}
.product-box img{
    width: 5px 10px #888888;
    height: 300px;
    
}